.bg-video {
  min-height: 80vh;
  width: 100vw;
  position: relative;
  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.bg-video-two {
  opacity: 0.3;
}
.bg-video-text {
  position: absolute;
  top: 65%;
  left: 25%;
}
/////////////////////////////
.bg-video1 {
  height: 70vh;
  width: 100vw;
  position: absolute;
  &__content {
    height: 50%;
    width: 100%;
    object-fit: cover;
  }
}
///////////////////////
.bg-video-two {
  z-index: 0;
  overflow: hidden;
}

/* Ensure form and contact sections are above the video */
.content {
  z-index: 1;
}
/* Adjust the height for medium screens and larger */
@media (min-width: 768px) {
  .bg-video1 {
    height: 30%; /* Ensure the video spans at least the height of the form and contact section */
  }
}
